.barone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 60vh;
    background-color: black;
}
.barone .content {
    text-align: center; 
    top: auto;
}

.barone img {
    width: 60%;
    height: auto; 
    position: relative;
    margin-top:-300px; 
}

.image-caption {
    margin-top: -290px;
    font-size: 4rem; 
    color: rgb(242, 242, 242); 
    font-weight: bold; 
    text-align: center;
    font-family:initial;
}
.navbar{
    background-color: black;
    padding: 10px 0;
}
.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:end;
    align-items: center;
    position: relative;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.3s;
}
.nav-list li a :hover{
    background-color: #f40808;
    border-radius: 5px;
}
.dropdown-menu{
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #444;
    padding: 10px 0;
    list-style: none;
    z-index: 1000;
    border-radius: 5px;
    min-width: 150px;
    /* transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0; 
    transform: translateY(-10px) */
}
.dropdown-menu li{
    margin: 0;
    padding: 0;
}
.dropdown-menu li a{
    color: white;
    padding: 10px 20px;
    display: block;
    font-size: 16px;
}
.dropdown-menu li a:hover{
    background-color: #575757;
}
.dropdown-menu:hover .dropdown-menu{
    display: block;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.chlidern{
    text-align: center;
}
.caption1{
    font-size:3rem;
    font-weight:bolder;
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:initial;
    text-align: center;
}
.slide-container{
    width: auto;
    height: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    position: relative;
    align-items: center;
}
.slider{
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center;
}
.slide{
    flex: none;
    width: auto;
    height: auto;
    text-align: center;
}
.slide img{
    width: auto;
    height: auto;
    object-fit: cover;
}
@keyframes slideAnimation {
    0% { transform: translateX(0); }
    33% { transform: translateX(-300px); }
    66% { transform: translateX(-600px); }
    100% { transform: translateX(0); }
}
.slider {
    animation: slideAnimation 6s infinite;
}
